<app-navbar></app-navbar>
<div id="main">
  <div class="head">
    <h1>Welcome to Parenting Assist</h1>
    <h3>Navigating Parenthood Together</h3>
    <p>
      Our vision is to be a trusted companion for every parent, offering expert
      guidance, personalized support, and valuable resources on the beautiful
      journey of parenthood.
    </p>
    <div>Get Started</div>
  </div>
  <div class="illustration">
    <img [src]="illustration" alt="" />
  </div>
</div>
<!-- Parenting Tips Section -->
<section class="parenting-tips">
  <div class="container">
    <h2>Parenting Tips</h2>
    <div class="tip-cards">
      <div class="tip-card illustration" >
        <h3>Effective Communication</h3>
        <p>
          Learn how to communicate effectively with your child and build a
          strong emotional connection.
        </p>
      </div>
      <div class="tip-card illustration">
        <h3>Setting Boundaries</h3>
        <p>
          Discover the importance of setting boundaries and maintaining a
          healthy parent-child relationship.
        </p>
      </div>
      <div class="tip-card illustration">
        <h3>Encouraging Creativity</h3>
        <p>
          Nurture your child's creativity and imagination through play and
          exploration.
        </p>
      </div>
    </div>
  </div>
</section>
