<nav>
    <div (click)="redirect('')">
        <!-- Logo -->
        <!-- <img src="" alt="Parent Guide"> -->
        <p>Parenting Assist</p>
    </div>
    <div>
        <div (click)="redirect('')">Home</div>
        <div *ngIf="!user" (click)="redirect('/login')">Login</div>
        <div *ngIf="!user" (click)="redirect('/register')">Signup</div>
        <div *ngIf="user" (click)="redirect('/chat')">Chat</div>
        <div *ngIf="user" (click)="redirect('/chat')">Hello {{user.name}}</div>
        <div *ngIf="user" (click)="logout()" class="logout">Log Out</div>
    </div>
</nav>